Resources:
  appSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 8081
      FromPort: 8081
      CidrIp: 0.0.0.0/0
      Description: "Allow inbound traffic on port 8081 for the application"

  httpSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 80
      FromPort: 80
      CidrIp: 0.0.0.0/0
      Description: "Allow inbound traffic on port 80"

  sshGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: ssh
      ToPort: 22
      FromPort: 22
      CidrIp: 0.0.0.0/0
      Description: "Allow inbound traffic on port 22"